h1 {
    color: forestgreen;
}

.h-sub1 {
    color: aquamarine;
}

.h-sub2 {
    color: cadetblue;
}

#h-sub1-in {
    color: red;
}

.image-01 {
    width: 500px;
}

.image-02 {
    width: 50%;
}

div {
    width: 50%;
    height: 200px;
    background-color: blueviolet;
}

.div-in {
    width: 50%;
    background-color: aquamarine;
}

.div-in-in {
    width: 50%;
    height: 200px;
    background-color: bisque;
}

.out {
    background-color: aqua;
    height: 30vh;
    width: 70vw;
}

.in {
    background-color: aquamarine;
    height: 50%;
    width: 50%;
}

p {
    font-size: 2em;
}

.image-11 {
    width: 30%;
    border: 10px solid palevioletred;
}