* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    background-color: #333;
    position: relative;
}

.navigation-bar {
    display: flex;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 4%;
    background-color: #333;
    z-index: 0;
    align-items: center;
}

.navigation-logo {
    position: relative;
    padding-left: 5%;
}

.navigation-links {
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.navigation-links-in > a {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.navigation-links-in {
    padding-left: 10%;
    padding-right: 10%;
}

.rightside-container {
    display: block;
    margin-left: auto;
}

.search-box {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.search-box:focus {
    width: 400px;
    border-color: aqua;
}

.subscribe-button {
    background-color: blue;
    color: #fff;
    font-weight: bold;
    height: 30px;
    /*width: 110px;*/
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}

.rightside-container > a {
    text-decoration: none;
    opacity: 0.9;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.middle-short-videoscroll {
    position: relative;
    height: 10vw;
    width: 92%;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.videoscroll-inside {
    position: relative;
    min-width: calc(100%/5.0-10px);
    width: calc(100%/5.0-10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
}

.inside-video1, .inside-image1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.inside-video1 {
    position: absolute;
}

.videoscroll-inside:hover .inside-image1 {
    display: none;
}

.top-image-container {
    position: relative;
    height: 350px;
    width: 100%;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.top-image-container-in {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
}